/* 
font-family: 'Fjalla One', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Vujahday Script', cursive;
*/

body {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
}

h1,
h2,
h3 {
  font-family: "Fjalla One", sans-serif;
  display: inline;
}
p {
  display: inline;
}
.highlight {
  font-family: "Vujahday Script", cursive;
  font-size: 32px;
  color: rgb(255, 72, 0);
}
.bigger {
  font-size: 60px;
}
.wrapper {
  width: 70%;
  margin: 80px auto 0 auto;
}
.write-rl {
  writing-mode: vertical-rl;
  font-family: "Fjalla One", sans-serif;
}
.animated .anim {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.animated .one {
  animation-delay: 100ms;
}
.animated .two {
  animation-delay: 1s;
}
.animated .three {
  animation-delay: 2s;
}
.animated .four {
  animation-delay: 3s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursive {
  font-family: cursive;
}
